<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificando Vehiculos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'estiloscss/estilos.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<script>
       
    $(function() 
    {
      $("#formulario").validate({
           rules: {
                  idproducto: "required",
                  nombreproducto: "required",
                  precio: "required",
                  tipo: "required",
                  },   
                  
             messages: 
              {
              idproducto: {
                  required: 'Ingresa una id',
                },

              nombreproducto: {
                  required: 'Ingresa el nombre',
              },
              precio:{
                  required: 'Ingrese un precio',
                  
              },
              tipo:{
                  required: 'Seleccione una categoria',
              },
               
          } 
      }); 
  });
  
</script>
</head>
<body style="background-color: aqua;">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    
    <a class="navbar-brand" href="#">
      <img src="{% static 'img/arbol.ico' %}" width="30" height="30" alt="" href="{% url 'index' %}">
    </a>

    

    <a style=" text-align: center;color:aliceblue;" href="{% url 'index' %}">TuJardin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <script src="{% static 'js/script.js' %}"></script>
        <li class="nav-item">
              {% if user.is_authenticated %}

              <a href="#">Bienvenid@ {{user.username}}</a></li>
              <li class="nav-item">
              <a href="{% url 'logout' %}" class="btn btn-outline-danger my-2 my-sm-0">Cerrar Sesión</a></li>
          {% else %}
              <li class="nav-item">
              <a href="{% url 'login' %}" class="btn btn-outline-danger my-2 my-sm-0">Iniciar Sesión</a>
          {% endif %}    </li>
        <li class="nav-item " >
          <a class="nav-link" href="{% url 'empresa' %}">Quiénes somos</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="{% url 'products' %}">Productos</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="{% url 'api' %}">Api</a>
        </li>

           

      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search" style="border-radius: 15px; ">
        <button class="btn btn-dark:hover my-2 my-sm-0" type="submit" style="background: rgb(0, 0, 0);border: none;color:rgb(255, 255, 255)">Buscar</button>
      </form>
    </div>
  </nav>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
     <br>
      <div class="container">
        <div class="card-text" style="background-color: #62c355;">
        <h2>Modificando Productos</h2>

        <form method="POST" action="#" id="formulario">
          <div class="container">
            {% csrf_token %}

            <div class="form-group">
                {{ form.idprod.label }}
                {{ form.idprod}}
            </div>
            <div class="form-group">
                {{ form.nomprod.label }}
                {{ form.nomprod}}
            </div>
            <div class="form-group">
                {{ form.precio.label }}
                {{ form.precio}}
            </div>
            <div class="form-group">
                {{ form.tipo.label }}
                {{ form.tipo}}
            </div></div>
            <br>
            <input type="submit" class="btn btn-primary" value="Modificar">
            <a href="{% url 'api' %}" class="btn btn-success">Volver a la api</a>
            <br>
            

        </form></div>
    </div>
    <footer class="bg-transparent text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0" style="text-align: center;padding-left: 5%">
                <img src="{% static 'img/arbol.ico' %}" alt="" style="width: 20%;">
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              
                <div style="text-align: center;">
                    <ul style="list-style:none; text-align: center;padding-left: 0%;">
                        <li>
                            <small onmouseover="style.color = 'green'" onmouseout="style.color= 'black'">Trabaja con nosotros</small>
                        </li>
                        <li>
                            <small onmouseover="style.color = 'green'" onmouseout="style.color= 'black'">Términos y condiciones</small>
                        </li>
                        <li>
                            <small onmouseover="style.color = 'green'" onmouseout="style.color= 'black'">Servicio al cliente</small>
                        </li>
                        <li> <td><img src="{% static 'img/instagram.svg' %}" onclick="location.href='https://www.instagram.com/'"></td>
                          <td><img src="{% static 'img/facebook.svg' %}" onclick="location.href='https://www.facebook.com/'"></td>
                          <td><img src="{% static 'img/twitter.svg' %}" onclick="location.href='https://www.twitter.com/'"></td></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgb(10, 253, 127);">
            © 2022 Copyright: Eloi Espinaza
            <a class="text-dark" href="{% url 'index' %}">TuJardin.cl</a>
            </div>
    </footer>
</body>
</html>